.input-form {
}

.input-field {
  margin: 10px 0px;
  background-color: #2E2F31;
  border: 1px solid #434446;
}

.input-field .ant-input {
  background-color: #2E2F31;
}

.ant-input {
  color: white;
}