.forgot-password {
  float: right;
  color: #9DA39B;
  margin: 20px 50px;
}

.loginBtn-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup {
  color: #9DA39B;
  text-align: center;
  margin-top: 20px;
}
