.user-menu-container {
  margin: 20px 0px;
  text-align: center;
}

.user-menu {
  color: #9DA39B;
  font-size: 20px;
}

.ant-dropdown-menu {
  background-color: #2E2F31;
}

.ant-dropdown-menu a {
  color: #9DA39B !important;
}

.ant-dropdown-menu-item:hover {
  background-color: #373739;
}