$default-font-color: rgba(255, 255, 255, 0.9);

.ant-modal-content {
  background-color: #2e2f31;
}

.search-btn-submit-container {
  display: flex;
  justify-content: flex-end;
}

.search-btn-submit {

  color: $default-font-color;
  background-color: #2C7FF6;
  border-radius: 10px;
  border: 0;
}

.search-form-container {
  // padding: 5px 10px;
  color: $default-font-color;
  .sort-btn {
    background-color: transparent;
    border: 0;
    color: #fef5f5;
    font-weight: bold;
  }

  .filter {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgb(55, 60, 63);
  }
}

.total-result {
  color: #9DA39B;
  margin-right: 10px;
}