.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;

  input {
    background-color: transparent;
    border: 0;
    width: 100%;
    margin-left: 10px;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
