.ant-btn {
  display: flex;
  justify-items: flex-start;
  align-items: center;
}

// .custom-button, .custom-button:hover, .custom-button:active {
//   background-color: transparent !important;
//   color: #9DA39B !important;
//   border-color: #9DA39B;
// }